
@page "/Dispatch/SplashScreen"
<div class="stack bg-primary hf ar" >
    <div class=" mg-a align-center ">
        <img alt="dispatch" src="_content/Library/css/rider.png" height="200" width="200">
        <h1 class="mg--0"><em><span class="cl-warning ">i</span>Log<span class="cl-warning">i</span>st<span class="cl-warning">i</span>cs</em></h1>
        <h4 class="mgt--0"><em>...delivery with peace of mind...</em></h4>
    </div>
</div>


