@inherits BaseInputFieldProvider<DispatchPickupLocationWizardStep>

<div class="text-center mgt-10">
    <span class="  pd-5 bg-primary corner"><i class="mdi mdi-map-marker"></i> Use my current location</span>
    <h4 class="mgt-15">Or</h4>
    <h4 class="mgt-15">Pick a location on the map</h4>
    <div class="hx-3">
        <LeafletMap>

        </LeafletMap>
    </div>
</div>