@inherits BaseComponent

<div class="stack">
    <h3 class="pdx-10 text-center">You are about to award this dispatch request to Ade Kiosk. Please ensure
        you are satisfied with his/her user reviews and rating before doing so.</h3>
    <div class="row pd bd ">
        <div class="col-a flex ">
            <div class=" hx-05 wx-05 bg-bl-gray-dark mg-a round clip">
                <img src="_content/Library/css/package.png" class="mawp-10 mahp-10">
            </div>
        </div>
        <div class="col-10 mgl">
            <div class="row">
                <div class="col-5">
                    <h4 class="mg-0">Ade Kiosk A.</h4>
                </div>
                <div class="col-5 cl-warning text-right fw-bold fsz-small">
                    #1,500
                </div>
            </div>
            <p class="op-7 mgy-1"><small><em>I am egocentric<span class="f-right">100m
                            away</span></em></small> </p>
            <div class="flex">
                <Ratings Rating="5" Theme="Theme.Warning"></Ratings><small class="text-italic op-8">(150)</small>
            </div>
        </div>
    </div>
    <h1 class="fw-bold text-center mg-0 pdt-5">You are about to pay</h1>
    <h1 class="fw-bold text-center cl-warning">#1,500</h1>
    <h4 class="pdx-10 text-center">Please note that this money is held until your dispatch is confirmed
        delivered.
        If you neither confirm the delivery nor open a dispute within 49hr, the amount will be awarded to
        the dispatcher anyway.
    </h4>
    <Button Theme="Theme.Primary" Class="mgx-10">
        <h3 class="fw-bold text-center">Start #1,500.00 Payment</h3>
        <p class="op-8">Taking you to wallet</p>
    </Button>
</div>
