@inherits BaseComponent

<div class="row pd ">
    <div class="col-a flex ">
        <div class=" hx-05 wx-05 flex mg-a round clip">
            <img src="_content/Library/css/package.png" class="mawp-10 mahp-10 mg-a">
        </div>
    </div>
    <div class="col-10 mgl">
        <div class="row">
            <div class="col-5">
                <h4 class="mg-0">Ade Kiosk A.</h4>
            </div>
            <div class="col-5 cl-warning text-right fw-bold fsz-small">
                #1,500
            </div>
        </div>
        <p class="op-7 mgy-1"><small><em>I am egocentric<span class="f-right">100m
                        away</span></em></small> </p>
        <div class="flex">
            <Ratings Rating="3" Theme="Theme.Warning"></Ratings><small class="text-italic op-8">(150)</small>
        </div>
    </div>
</div>
