@inherits BaseComponent

<div class="row pdx">
    <div class="col-a pdt-0 flex">
        <div class=" hx-05 wx-05 bg-bl-gray-dark mg-a round clip">
            <img src="_content/Library/css/package.png" class="mawp-10 mahp-10">
        </div>
    </div>
    <div class="col-10 mgl">
        <div class="row pdt-2">
            <div class="col-6 ">
                <h4 class="mg-0">Ade Kiosk A.</h4>
            </div>
            <div class="col-2 ">
                <div class="flex text-right">
                    <Ratings Rating="2" Theme="Theme.Warning"></Ratings>
                </div>
            </div>
        </div>
        <p class="op-7 mgy-1  "><small><em>Rider is responsible. Even went extra mile more than the
                    destination.</em></small> </p>

    </div>
</div>
