@page "/IPTV"

<div class="pos-fix t-0 l-0 r-0 z-2">
    <TopNav></TopNav>
</div>
<div class="pdx-5 pdt-20 pdb-30">
    <div class="container">
        <div class="row responsive">
            <div class="col-6">
                <div class="bg-dark mihx-3 corner-2 flex">
                    <h2 class="mg-a">Live Video here</h2>
                </div>
            </div>
            <div class="col-4 miwx-3">
                <ApplicationPageLink href="IPTV/Lives">
                    <div class="bg-tb-primary-secondary op-9 pd corner mihx-3 flex pos-rel">
                        <div class="mg-a text-center">
                            <i class="mdi mdi-youtube-tv fsz-100 mg-a"></i>
                            <h2>LIVE TV</h2>
                        </div>
                        <div class="bg-dark-01 cl-white pos-abs b-0 l-0 r-0 pd-5 row">
                            <div class="col-10">
                                <p class="mg-0">Last Update 2m ago</p>
                            </div>
                            <div class="col-a">
                                <Button Class="mdi mdi-refresh fsz-20" 
                                        Features="ButtonFeatures.Flat"></Button>
                            </div>
                        </div>
                    </div>
                </ApplicationPageLink>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-4">
                <ApplicationPageLink href="IPTV/VOD">
                    <div class="bg-tb-error-fatal pd corner mihx-2 flex pos-rel">
                        <div class="mg-a text-center">
                            <i class="mdi mdi-video fsz-50 mg-a"></i>
                            <h2>MOVIES</h2>
                        </div>
                        <div class="bg-dark-03 cl-white pos-abs b-0 l-0 r-0 pd-5 row">
                            <div class="col-10">
                                <p class="mg-0">Updated 2m ago</p>
                            </div>
                            <div class="col-a">
                                <Button Class="mdi mdi-refresh fsz-20" 
                                        Features="ButtonFeatures.Flat"></Button>
                            </div>
                        </div>
                    </div>
                </ApplicationPageLink>
            </div>
            <div class="col-4">
                <ApplicationPageLink href="IPTV/Series">
                    <div class="bg-tb-message-warning pd corner mihx-2 flex pos-rel">
                        <div class="mg-a text-center">
                            <i class="mdi mdi-video-3d fsz-50 mg-a"></i>
                            <h2>SERIES</h2>
                        </div>
                        <div class="bg-dark-03 cl-white pos-abs b-0 l-0 r-0 pd-5 row">
                            <div class="col-10">
                                <p class="mg-0">Updated 2m ago</p>
                            </div>
                            <div class="col-a">
                                <Button Class="mdi mdi-refresh fsz-20" 
                                        Features="ButtonFeatures.Flat"></Button>
                            </div>
                        </div>
                    </div>
                </ApplicationPageLink>
            </div>
            <div class="col-2">
                <ApplicationPageLink href="IPTV/Favorites">
                    <div class="bg-tb-info-error pd corner mihx-2 flex pos-rel">
                        <div class="mg-a text-center">
                            <i class="mdi mdi-heart fsz-50 mg-a"></i>
                            <h2>FAVORITES</h2>
                        </div>
                    </div>
                </ApplicationPageLink>
            </div>
        </div>
    </div>

    <h2>Recently Watched</h2>
    <DataList TModel="int" Models="new[]{1,2,3,4,5,6,7,8,8,8,8,8,8,8,8,8,8}"
                Features="DataListFeatures.Default|DataListFeatures.CarouselHorizontalView"
                li-class="mgr-5 corner clip pos-rel">
                <img class="hx-2 wx-15" src="https://image.tmdb.org/t/p/original/tYmh36DP4rEmRAr3exAuM9CJTOG.jpg">
                <div class="pos-abs b-0 l-0 r-0 bg-dark-05 text-center pd">Movie Title</div>
        @* <Media
            Height="150"
            Width="100" 
            Class="wx-1 hx-15" 
            Features="MediaFeatures.Default&~MediaFeatures.Responsive"
            Url="https://image.tmdb.org/t/p/original/tYmh36DP4rEmRAr3exAuM9CJTOG.jpg"></Media> *@
    </DataList>

    <h2>Recommended Channels</h2>
    <DataList TModel="int" Models="new[]{1,2,3,4,5,6,7,8,8,8,8,8,8,8,8,8,8}"
                Features="DataListFeatures.Default|DataListFeatures.CarouselHorizontalView"
                li-class="pdr-5 corner clip pos-rel">
                <img class="hx-2 wx-15" src="https://image.tmdb.org/t/p/original/tYmh36DP4rEmRAr3exAuM9CJTOG.jpg">
                <div class="pos-abs b-0 l-0 r-0 bg-dark-05 text-center pd">Movie Title</div>
        @* <Media
            Height="150"
            Width="100" 
            Class="wx-1 hx-15" 
            Features="MediaFeatures.Default&~MediaFeatures.Responsive"
            Url="https://image.tmdb.org/t/p/original/tYmh36DP4rEmRAr3exAuM9CJTOG.jpg"></Media> *@
    </DataList>

    <h2>Recommended Movies</h2>
    <DataList TModel="int" Models="new[]{1,2,3,4,5,6,7,8,8,8,8,8,8,8,8,8,8}"
                Features="DataListFeatures.Default|DataListFeatures.CarouselHorizontalView"
                li-class="pdr-5 corner clip pos-rel">
                <img class="hx-2 wx-15" src="https://image.tmdb.org/t/p/original/tYmh36DP4rEmRAr3exAuM9CJTOG.jpg">
                <div class="pos-abs b-0 l-0 r-0 bg-dark-05 text-center pd">Movie Title</div>
        @* <Media
            Height="150"
            Width="100" 
            Class="wx-1 hx-15" 
            Features="MediaFeatures.Default&~MediaFeatures.Responsive"
            Url="https://image.tmdb.org/t/p/original/tYmh36DP4rEmRAr3exAuM9CJTOG.jpg"></Media> *@
    </DataList>

    <h2>Recommended Series</h2>
    <DataList TModel="int" Models="new[]{1,2,3,4,5,6,7,8,8,8,8,8,8,8,8,8,8}"
                Features="DataListFeatures.Default|DataListFeatures.CarouselHorizontalView"
                li-class="pdr-5 corner clip">
                <img class="hx-2 wx-15" src="https://image.tmdb.org/t/p/original/tYmh36DP4rEmRAr3exAuM9CJTOG.jpg">
        @* <Media
            Height="150"
            Width="100" 
            Class="wx-1 hx-15" 
            Features="MediaFeatures.Default&~MediaFeatures.Responsive"
            Url="https://image.tmdb.org/t/p/original/tYmh36DP4rEmRAr3exAuM9CJTOG.jpg"></Media> *@
    </DataList>
</div>

<div class="pos-fix b-0 l-0 r-0 bg-dark-09 cl-white flex pd">
    <div class="fill">
        <b>Subscription Expires: April 12, 2022</b>
    </div>
    <div>
        <Button Class="nowrap" Features="ButtonFeatures.Flat">Top-Up >></Button>
    </div>
</div>

