    <div class="pd bg-dark-07 row">
        <div class="col-a">
            User: <b class="nowrap">Samson A.</b>
        </div>
        <div class="col-a pdl">
            Expiry Date: <b class="nowrap">Aprin 12, 2022</b>
        </div>
        <div class="col-10"></div>
        <div class="col-a pdl">
            <Button Features="ButtonFeatures.Flat" Class="mdi mdi-cogs fsz-25"></Button>
        </div>
        <div class="col-a pdl">
            <Button Features="ButtonFeatures.Flat" Class="mdi mdi-heart fsz-25" PageLink="IPTV/Favorites"></Button>
        </div>
        <div class="col-a pdl">
            <Button Features="ButtonFeatures.Flat" Class="mdi mdi-cloud fsz-25"></Button>
        </div>
    </div>
